<menu></menu>

<div style="margin-top:100px" class="container-fluid">


  <div class="row">



    <div class="col-12">

      <div id="CV">
      <button (click)="downloadFile()" id = "btn_download" class="downloadButton">Click on me to download Jelil-Info's Resume</button>
      </div>

      <section id="about" class="flexMe hidden fade-in-element">

        <div class="briefMe myPic">
          <div class="briefMePic">
            <img src="/assets/images/jelil.jpg" alt="my picture" style="width: 35%; margin-left: auto; margin-right: auto;">
             <div class="briefMeText">
               <h2>Who's this guy?</h2>
                 <p>I am a <a class="myProfile" href="/myResume" target="_blank"><i>frontend and backend websites developer, digital marketer and SEO specialist.</i></a>
                   I also get involved in electrical and electronic <span id="dots">.....</span>
                   <span id="more">
                    fields as I have experience in building automatic
                    change over Inverters. I am a trilingual person, who speaks English, Arabic and Yoruba languages.<br>
                    MSC grad in solid state physics.
                   </span></p>
                  <button onclick="readmore()" id="readMoreButton">Read more</button>

             </div>
          </div>
        </div>

        <div class="main" style="margin-top: 30px;">

          <div class="progressBar">
               <div class="title javascriptColor">JavaScript</div>
               <div id="progress1" class="javascriptProgress1 html" data-aos="zoom-in-right" data-aos-duration="1500" data-aos-easing="ease-in-out-cubic" data-aos-once="true"></div>
               <div class="progressValue">80%</div>
          </div>

          <div class="progressBar">
               <div class="title html5Color">HTML5</div>
               <div id="progress2" class="html5Progress2 css" data-aos="zoom-in-right" data-aos-duration="1500" data-aos-easing="ease-in-out-cubic" data-aos-once="true"></div>
               <div class="progressValue">90%</div>
          </div>

         <div class="progressBar">
               <div class="title css3Color">CSS3</div>
               <div id="progress3" class="css3Progress3 js" data-aos="zoom-in-right" data-aos-duration="1500" data-aos-easing="ease-in-out-cubic" data-aos-once="true"></div>
               <div class="progressValue">90%</div>
         </div>

         <div class="progressBar">
               <div class="title nodejsColor">Node.js</div>
               <div id="progress4" class="nodejsProgress4 nodejs" data-aos="zoom-in-right" data-aos-duration="1500" data-aos-easing="ease-in-out-cubic" data-aos-once="true"></div>
               <div class="progressValue">80%</div>
         </div>

         <div class="progressBar">
               <div class="title angularjsColor">Angular</div>
               <div id="progress5" class="angularjsProgress5 angularjs" data-aos="zoom-in-right" data-aos-duration="1500" data-aos-easing="ease-in-out-cubic" data-aos-once="true"></div>
               <div class="progressValue">80%</div>
         </div>

         <div class="progressBar">
                <div class="title bootstrap4Color">Bootstrap</div>
                <div id="progress6" class="bootstrap4Progress6 reactjs" data-aos="zoom-in-right" data-aos-duration="1500" data-aos-easing="ease-in-out-cubic" data-aos-once="true"></div>
                <div class="progressValue">90%</div>
         </div>

         <div class="progressBar">
          <div class="title reactjsColor">Reactjs</div>
          <div id="progress7" class="reactjsProgress7 vuejs" data-aos="zoom-in-right" data-aos-duration="1500" data-aos-easing="ease-in-out-cubic" data-aos-once="true"></div>
          <div class="progressValue">80%</div>
        </div>

        <div class="progressBar">
          <div class="title vuejsColor">Vuejs</div>
          <div id="progress8" class="vuejsProgress8 digital" data-aos="zoom-in-right" data-aos-duration="1500" data-aos-easing="ease-in-out-cubic" data-aos-once="true"></div>
          <div class="progressValue">80%</div>
        </div>
      </div>



    </section>



  </div>


  <div class="col-12 aboutMeBottom aboutFooter">



        <section class="formAboutMe">





            <div class="m p-4 text-white text-center footerAll">




              <!--Footer -->


            <div class="footerLarge footerSection" id="aaa">

              <div>My profiles in socia media:</div>
              <a href="https://github.com/jelil-info" target="_self"><i class="fa fa-github footerOpacity"></i></a>
              <a href="https://www.linkedin.com/in/OyekanmiOyetunji/" target="_self"><i class="fa fa-linkedin footerOpacity"></i></a>
              <a href="https://www.facebook.com/oyekanmi.jalil" target="_self"><i class="fa fa-facebook-official footerOpacity"></i></a>
              <a href="https://www.instagram.com/jelil_info/" target="_self"><i class="fa fa-instagram footerOpacity"></i></a>
              <a href="https://www.twitter.com"><i class="fa fa-twitter footerOpacity" target="_self"></i></a>

            </div>

            <p>&copy; Copyright 2024 <br/>
              <span>Built by</span>
              <a class="footerLast" href="#home" title="jelil-info" target="_blank">
                © 2024 InfoTechCrush Ltd, all rights reserved.
              </a>
            </p>





              <!--<p id="width"></p>-->

        </div>




        </section>
  </div>













</div>

</div>
