<div class="col-12 aboutMeBottom aboutFooter">



      <section class="formAboutMe">





          <div class="m p-4 text-white text-center footerAll">




            <!--Footer -->


          <div class="footerLarge footerSection" id="aaa">

            <div>My profiles in socia media:</div>
            <a href="https://github.com/jelil-info" target="_self"><i class="fa fa-github footerOpacity"></i></a>
            <a href="https://www.linkedin.com/in/OyekanmiOyetunji/" target="_self"><i class="fa fa-linkedin footerOpacity"></i></a>
            <a href="https://www.facebook.com/oyekanmi.jalil" target="_self"><i class="fa fa-facebook-official footerOpacity"></i></a>
            <a href="https://www.instagram.com/jelil_info/" target="_self"><i class="fa fa-instagram footerOpacity"></i></a>
            <a href="https://www.twitter.com"><i class="fa fa-twitter footerOpacity" target="_self"></i></a>

          </div>

          <p>&copy; Copyright 2023 <br/>
            <span>Built by</span>
            <a class="footerLast" href="#home" title="jelil-info" target="_blank">
              © 2023 InfoTechCrush Ltd, all rights reserved.
            </a>
          </p>





            <!--<p id="width"></p>-->

      </div>




      </section>
</div>
