<menu></menu>
<section class="container-fluid projectsOffer">

  <span id="portfolio"></span>
    <div class="col-12 projectContainer bg-warning p-4" style="width: 100%;">
      <h1 class="mx-auto projects">Our Projects</h1>





      <div class="row">

        <div class="col-sm bg-secondary m-sm-4 m-1 p-3 portfolio" style="width: 350px" data-aos="zoom-in-right" data-aos-duration="1500" data-aos-easing="ease-in-out-cubic" data-aos-once="true">

          <h2 class="Headingproject">Social Media Website</h2>
          <p class="p-1">
            It is developed to have users, posts, likes and comments

          </p>
          <img src="/assets/images/socialMedia.png"
          alt="Cinque Terre" width="300px" height="430px" class="imagePortfolio">
          <a href="https://jelil-info-mern-social.onrender.com/" class="btn btn-success mt-3 justify-content-center" target="_blank">
            Learn More</a>
        </div>

        <div class="col-sm bg-success m-sm-4 m-1 p-3 portfolio" style="width: 350px" data-aos="zoom-in-right" data-aos-duration="1500" data-aos-easing="ease-in-out-cubic" data-aos-once="true">

          <h2 class="Headingproject">Expense Tracker Application</h2>
          <p class="p-1">
           An expense tracking application with data visualisation.
          </p>
          <img src="/assets/images/expenseTracker.png"
          alt="Cinque Terre" width="300px" height="430px" class="imagePortfolio">
          <a href="https://dull-pear-bee-wrap.cyclic.app/" class="btn btn-success mt-3 justify-content-center" target="_blank">
            Learn More</a>
        </div>

        <div class="col-sm bg-secondary m-sm-4 m-1 p-3 portfolio" style="width: 350px" data-aos="zoom-in-right" data-aos-duration="1500" data-aos-easing="ease-in-out-cubic" data-aos-once="true">

          <h2 class="Headingproject">SportsStore Application</h2>
          <p class="p-1">
            it is developed to have an administration area that includes create, read, update, and delete
            facilities for managing online product catalog and it is protected so that only logged-in administrators can
            make changes.
          </p>
          <img src="/assets/images/SportsStore.png"
          alt="Cinque Terre" width="300px" height="430px" class="imagePortfolio">
          <a href="https://jelilinfoangular-oyekanmijelili.b4a.run/store/" class="btn btn-success mt-3 justify-content-center" target="_blank">
            Learn More</a>
        </div>

        <div class="col-sm bg-secondary m-sm-4 m-1 p-3 portfolio" style="width: 350px" data-aos="zoom-in-right" data-aos-duration="1500" data-aos-easing="ease-in-out-cubic" data-aos-once="true">

          <h2 class="Headingproject">Pomodoro Application</h2>
          <p class="p-1">
            The Pomodoro application is a time management application. This
            technique consists of breaking down the working time into small intervals
            separated by short breaks.
          </p>
          <img src="/assets/images/pomodoro.jpg"
          alt="Cinque Terre" width="300px" height="430px" class="imagePortfolio">
          <a href="https://stellar-florentine-5b3c4a.netlify.app/" class="btn btn-success mt-3 justify-content-center" target="_blank">
            Learn More</a>
        </div>

        <div class="col-sm bg-secondary m-sm-4 m-1 p-3 portfolio" style="width: 350px" data-aos="zoom-in-right" data-aos-duration="1500" data-aos-easing="ease-in-out-cubic" data-aos-once="true">

          <h2 class="Headingproject">Shopping List Application</h2>
          <p class="p-1">
            It is developed to have the following features: creating new item to the
            shopping list, rendering and managing the list of Items
            and changing of the title of the list
          </p>
          <img src="/assets/images/shoopinglist.jpg"
          alt="Cinque Terre" width="300px" height="430px" class="imagePortfolio">
          <a href="https://shiny-hamster-6cfb93.netlify.app/" class="btn btn-success mt-3 justify-content-center" target="_blank">
            Learn More</a>
        </div>

        <div class="col-sm bg-success m-sm-4 mt-1 p-3 portfolio" style="width: 350px" data-aos="zoom-in-right" data-aos-duration="1500" data-aos-easing="ease-in-out-cubic" data-aos-once="true">

          <h2 class="Headingproject">Online Classroom</h2>
          <p class="p-1">
            A web-based classroom application that allows intructors to add
            courses with lessons, while students can enroll in these
            courses and track their progress.
         </p>
          <img src="/assets/images/onlineClassRoom.png"
          alt="Cinque Terre" width="300px" height="430px" class="imagePortfolio">
          <a href="#" class="btn btn-success mt-3 justify-content-center isDisabled" >Learn More</a>
        </div>


        <div class="col-sm bg-success m-sm-4 m-1  p-3 portfolio" style="width: 350px" data-aos="zoom-in-right" data-aos-duration="1500" data-aos-easing="ease-in-out-cubic" data-aos-once="true">

          <h2 class="Headingproject">Mediastream Application</h2>
          <p class="p-1">
          A media streaming application with media upload and stream features.
         </p>
          <img src="/assets/images/Mediastream.png"
          alt="Cinque Terre" width="300px" height="430px" class="imagePortfolio">
          <a href="#" class="btn btn-success mt-3 isDisabled" >Learn More</a>
        </div>



      </div>

    </div>



  </section>

  <div class="col-12 aboutMeBottom aboutFooter" style="margin-top:10px">



        <section class="formAboutMe">





            <div class="m p-4 text-white text-center footerAll">




              <!--Footer -->


            <div class="footerLarge footerSection" id="aaa">

              <div>My profiles in socia media:</div>
              <a href="https://github.com/jelil-info" target="_self"><i class="fa fa-github footerOpacity"></i></a>
              <a href="https://www.linkedin.com/in/OyekanmiOyetunji/" target="_self"><i class="fa fa-linkedin footerOpacity"></i></a>
              <a href="https://www.facebook.com/oyekanmi.jalil" target="_self"><i class="fa fa-facebook-official footerOpacity"></i></a>
              <a href="https://www.instagram.com/jelil_info/" target="_self"><i class="fa fa-instagram footerOpacity"></i></a>
              <a href="https://www.twitter.com"><i class="fa fa-twitter footerOpacity" target="_self"></i></a>

            </div>

            <p>&copy; Copyright 2024 <br/>
              <span>Built by</span>
              <a class="footerLast" href="#home" title="jelil-info" target="_blank">
                © 2024 InfoTechCrush Ltd, all rights reserved.
              </a>
            </p>





              <!--<p id="width"></p>-->

        </div>




        </section>
  </div>
